

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins','Roboto', 'Segoe UI', 'Oxygen';
  box-sizing: border-box;
}
.light , .dark{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 20px 0 0 0;
}
.light{
  background-color: #b8ddf7;
  color: rgb(47, 9, 138);
}
.dark{
  background-color:rgb(28, 2, 90) ;
  color: #fff;
}
a,li{
  text-decoration: none;
  list-style: none;
}
.todo-list {
  padding: 4px 25px;
  border: 2px solid;
  border-radius: 36px;
}
button{
  padding:10px;
  border-radius: 24px;
  width: fit-content;
  outline: none;
  border: 2px solid transparent;
  background-color: rgb(86, 33, 230);;
  color:#fff;
  position: relative;
  left: 10px;
}
.darkbtn{
  margin: 10px auto;
  border-radius: 15px;

}
input{
  border: 2px solid rgb(86, 33, 230);;
  border-radius: 15px;
  padding: 8px;
  font-size: 16px;
  margin: auto;
  outline: none;
}
.task-list li{
  font-size: 18px;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border: 2px solid;
  border-radius: 25px;
  margin: 10px auto;
}
.taskdiv{
  font-weight: bold;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.deletebtn{
  width: 30%;
}


